################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/prj_TCC/telas html/login.aspx
/prj_TCC/telas html/login.aspx.cs
/prj_TCC/telas html/login.aspx.designer.cs
/.vs/prj_TCC/config/applicationhost.config
/.vs/prj_TCC/FileContentIndex/2cc84073-6bcb-4865-8604-85884251b50a.vsidx
/.vs/prj_TCC/FileContentIndex/58e3f6d8-0969-4b93-8d06-7fb291443688.vsidx
/.vs/prj_TCC/FileContentIndex/672b5672-4e3c-4999-b509-a66a9d35c766.vsidx
/.vs/prj_TCC/FileContentIndex/b47df9c9-9028-422d-8c8d-182fe8974fb8.vsidx
/.vs/prj_TCC/v17/.suo
/.vs/prj_TCC/v17/DocumentLayout.json
/.vs/tcc-projeto/v17/.wsuo
/.vs/tcc-projeto/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/prj_TCC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/prj_TCC/obj/Debug/prj_TCC.csproj.AssemblyReference.cache
/.vs/prj_TCC/FileContentIndex/c53a824a-2d15-4441-8710-f5b9d3620e47.vsidx
/.vs/prj_TCC/FileContentIndex/40130967-46d1-48ff-a415-ba94d7743dde.vsidx
/.vs/prj_TCC/FileContentIndex/01700bac-745d-4f60-a96e-697243848189.vsidx
/.vs/prj_TCC/FileContentIndex/b75e9d0f-239a-4c89-8a8f-9242995eba38.vsidx
/.vs/prj_TCC/FileContentIndex/e7317b1b-8a21-4e6e-b52a-1ec13917af5c.vsidx
/.vs/prj_TCC/FileContentIndex/fab77b01-8157-4b3d-8c58-7dad05c368f0.vsidx
